.enter-animation {
  animation: slide-fade 1s;
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: scale(0.97);
    /* filter: blur(6px); */
  }
  to {
    opacity: 1;
    transform: scale(1);
    /* filter: blur(0); */
  }
}